{% extends 'dashboard/main/base.html' %}
{% block content %}
{% load static %}

<!-- BEGIN: Content-->
<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-2">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-start mb-0">Modals</h2>
                    </div>
                </div>
            </div>
            <div class="content-header-right text-md-end col-md-3 col-12 d-md-block d-none">
                <div class="mb-1 breadcrumb-right">
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- Basic Modals start -->
            <section id="basic-modals">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Basic Modal</h4>
                            </div>
                            <div class="card-body">
                                <div class="demo-inline-spacing">
                                    <!-- Basic trigger modal -->
                                    <div class="basic-modal">
                                        <button type="button" class="btn btn-outline-primary waves-effect"
                                            data-bs-toggle="modal" data-bs-target="#default">
                                            Basic Modal
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade text-start" id="default" tabindex="-1"
                                            aria-labelledby="myModalLabel1" aria-hidden="true" style="display: none;">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title" id="myModalLabel1">Basic Modal</h4>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <h5>Check First Paragraph</h5>
                                                        <p>
                                                            Oat cake ice cream candy chocolate cake chocolate cake
                                                            cotton candy dragée apple pie. Brownie
                                                            carrot cake candy canes bonbon fruitcake topping halvah.
                                                            Cake sweet roll cake cheesecake cookie
                                                            chocolate cake liquorice.
                                                        </p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button"
                                                            class="btn btn-primary waves-effect waves-float waves-light"
                                                            data-bs-dismiss="modal">Accept</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Basic trigger modal end -->

                                    <!-- Vertical modal -->
                                    <div class="vertical-modal-ex">
                                        <button type="button" class="btn btn-outline-primary waves-effect"
                                            data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
                                            Vertically Centered
                                        </button>
                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModalCenter" tabindex="-1"
                                            aria-labelledby="exampleModalCenterTitle" style="display: none;"
                                            aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalCenterTitle">Vertically
                                                            Centered</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>
                                                            Croissant jelly-o halvah chocolate sesame snaps. Brownie
                                                            caramels candy canes chocolate cake
                                                            marshmallow icing lollipop I love. Gummies macaroon donut
                                                            caramels biscuit topping danish.
                                                        </p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button"
                                                            class="btn btn-primary waves-effect waves-float waves-light"
                                                            data-bs-dismiss="modal">Accept</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Vertical modal end-->

                                    <!-- Disabled Backdrop -->
                                    <div class="disabled-backdrop-ex">
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-outline-primary waves-effect"
                                            data-bs-toggle="modal" data-bs-target="#backdrop">
                                            Disabled Backdrop
                                        </button>
                                        <!-- Modal -->
                                        <div class="modal fade text-start" id="backdrop" tabindex="-1"
                                            aria-labelledby="myModalLabel4" data-bs-backdrop="false"
                                            style="display: none;" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title" id="myModalLabel4">Disabled Backdrop
                                                        </h4>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>
                                                            Candy oat cake topping topping chocolate cake. Icing pudding
                                                            jelly beans I love chocolate carrot
                                                            cake wafer candy canes. Biscuit croissant fruitcake bonbon
                                                            soufflé.
                                                        </p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button"
                                                            class="btn btn-primary waves-effect waves-float waves-light"
                                                            data-bs-dismiss="modal">Accept</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Disabled Backdrop end-->

                                    <!-- Disabled Animation -->
                                    <div class="disabled-animation-ex">
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-outline-primary waves-effect"
                                            data-bs-toggle="modal" data-bs-target="#animation">
                                            Disabled Animation
                                        </button>
                                        <!-- Modal -->
                                        <div class="modal text-start" id="animation" tabindex="-1"
                                            aria-labelledby="myModalLabel6" style="display: none;" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title" id="myModalLabel6">Disabled Animation
                                                        </h4>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>
                                                            Chocolate bar jelly dragée cupcake chocolate bar I love
                                                            donut liquorice. Powder I love marzipan
                                                            donut candy canes jelly-o. Dragée liquorice apple pie candy
                                                            biscuit danish lemon drops sugar
                                                            plum.
                                                        </p>
                                                        <div class="alert alert-success" role="alert">
                                                            <div class="alert-body">
                                                                <span class="fw-bolder">Well done!</span> You
                                                                successfully read this important alert message.
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button"
                                                            class="btn btn-primary waves-effect waves-float waves-light"
                                                            data-bs-dismiss="modal">Accept</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Disabled Animation end-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Basic Modals end -->

            <!-- Form and scrolling Components start -->
            <section id="form-and-scrolling-components">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Form &amp; Scrolling Modals</h4>
                            </div>
                            <div class="card-body">
                                <div class="demo-inline-spacing">
                                    <div class="form-modal-ex">
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-outline-primary waves-effect"
                                            data-bs-toggle="modal" data-bs-target="#inlineForm">
                                            Login Form
                                        </button>
                                        <!-- Modal -->
                                        <div class="modal fade text-start" id="inlineForm" tabindex="-1"
                                            aria-labelledby="myModalLabel33" aria-hidden="true" style="display: none;">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title" id="myModalLabel33">Inline Login Form
                                                        </h4>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <form action="#">
                                                        <div class="modal-body">
                                                            <label>Email: </label>
                                                            <div class="mb-1">
                                                                <input type="text" placeholder="Email Address"
                                                                    class="form-control">
                                                            </div>

                                                            <label>Password: </label>
                                                            <div class="mb-1">
                                                                <input type="password" placeholder="Password"
                                                                    class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button"
                                                                class="btn btn-primary waves-effect waves-float waves-light"
                                                                data-bs-dismiss="modal">Login</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="scrolling-content-ex">
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-outline-primary waves-effect"
                                            data-bs-toggle="modal" data-bs-target="#exampleModalLong">
                                            Scrolling long Content
                                        </button>
                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModalLong" tabindex="-1"
                                            aria-labelledby="exampleModalLongTitle" style="display: none;"
                                            aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title
                                                        </h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>
                                                            Biscuit powder jelly beans. Lollipop candy canes croissant
                                                            icing chocolate cake. Cake fruitcake
                                                            powder pudding pastry.
                                                        </p>
                                                        <p>
                                                            Tootsie roll oat cake I love bear claw I love caramels
                                                            caramels halvah chocolate bar. Cotton
                                                            candy gummi bears pudding pie apple pie cookie. Cheesecake
                                                            jujubes lemon drops danish dessert I
                                                            love caramels powder.
                                                        </p>
                                                        <p>
                                                            Chocolate cake icing tiramisu liquorice toffee donut sweet
                                                            roll cake. Cupcake dessert icing
                                                            dragée dessert. Liquorice jujubes cake tart pie donut.
                                                            Cotton candy candy canes lollipop
                                                            liquorice chocolate marzipan muffin pie liquorice.
                                                        </p>
                                                        <p>
                                                            Powder cookie jelly beans sugar plum ice cream. Candy canes
                                                            I love powder sugar plum tiramisu.
                                                            Liquorice pudding chocolate cake cupcake topping biscuit.
                                                            Lemon drops apple pie sesame snaps
                                                            tootsie roll carrot cake soufflé halvah. Biscuit powder
                                                            jelly beans. Lollipop candy canes
                                                            croissant icing chocolate cake. Cake fruitcake powder
                                                            pudding pastry.
                                                        </p>
                                                        <p>
                                                            Tootsie roll oat cake I love bear claw I love caramels
                                                            caramels halvah chocolate bar. Cotton
                                                            candy gummi bears pudding pie apple pie cookie. Cheesecake
                                                            jujubes lemon drops danish dessert I
                                                            love caramels powder.
                                                        </p>
                                                        <p>
                                                            Chocolate cake icing tiramisu liquorice toffee donut sweet
                                                            roll cake. Cupcake dessert icing
                                                            dragée dessert. Liquorice jujubes cake tart pie donut.
                                                            Cotton candy candy canes lollipop
                                                            liquorice chocolate marzipan muffin pie liquorice.
                                                        </p>
                                                        <p>
                                                            Powder cookie jelly beans sugar plum ice cream. Candy canes
                                                            I love powder sugar plum tiramisu.
                                                            Liquorice pudding chocolate cake cupcake topping biscuit.
                                                            Lemon drops apple pie sesame snaps
                                                            tootsie roll carrot cake soufflé halvah. Biscuit powder
                                                            jelly beans. Lollipop candy canes
                                                            croissant icing chocolate cake. Cake fruitcake powder
                                                            pudding pastry.
                                                        </p>
                                                        <p>
                                                            Tootsie roll oat cake I love bear claw I love caramels
                                                            caramels halvah chocolate bar. Cotton
                                                            candy gummi bears pudding pie apple pie cookie. Cheesecake
                                                            jujubes lemon drops danish dessert I
                                                            love caramels powder.
                                                        </p>
                                                        <p>
                                                            Chocolate cake icing tiramisu liquorice toffee donut sweet
                                                            roll cake. Cupcake dessert icing
                                                            dragée dessert. Liquorice jujubes cake tart pie donut.
                                                            Cotton candy candy canes lollipop
                                                            liquorice chocolate marzipan muffin pie liquorice.
                                                        </p>
                                                        <p>
                                                            Powder cookie jelly beans sugar plum ice cream. Candy canes
                                                            I love powder sugar plum tiramisu.
                                                            Liquorice pudding chocolate cake cupcake topping biscuit.
                                                            Lemon drops apple pie sesame snaps
                                                            tootsie roll carrot cake soufflé halvah. Biscuit powder
                                                            jelly beans. Lollipop candy canes
                                                            croissant icing chocolate cake. Cake fruitcake powder
                                                            pudding pastry.
                                                        </p>
                                                        <p>
                                                            Tootsie roll oat cake I love bear claw I love caramels
                                                            caramels halvah chocolate bar. Cotton
                                                            candy gummi bears pudding pie apple pie cookie. Cheesecake
                                                            jujubes lemon drops danish dessert I
                                                            love caramels powder.
                                                        </p>
                                                        <p>
                                                            Chocolate cake icing tiramisu liquorice toffee donut sweet
                                                            roll cake. Cupcake dessert icing
                                                            dragée dessert. Liquorice jujubes cake tart pie donut.
                                                            Cotton candy candy canes lollipop
                                                            liquorice chocolate marzipan muffin pie liquorice.
                                                        </p>
                                                        <p>
                                                            Powder cookie jelly beans sugar plum ice cream. Candy canes
                                                            I love powder sugar plum tiramisu.
                                                            Liquorice pudding chocolate cake cupcake topping biscuit.
                                                            Lemon drops apple pie sesame snaps
                                                            tootsie roll carrot cake soufflé halvah.
                                                        </p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button"
                                                            class="btn btn-primary waves-effect waves-float waves-light"
                                                            data-bs-dismiss="modal">Accept</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="scrolling-inside-modal">
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-outline-primary waves-effect"
                                            data-bs-toggle="modal" data-bs-target="#exampleModalScrollable">
                                            Scrolling Content Inside Modal
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModalScrollable" tabindex="-1"
                                            aria-labelledby="exampleModalScrollableTitle" aria-hidden="true"
                                            style="display: none;">
                                            <div class="modal-dialog modal-dialog-scrollable">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalScrollableTitle">Modal
                                                            title</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>
                                                            Biscuit powder jelly beans. Lollipop candy canes croissant
                                                            icing chocolate cake. Cake fruitcake
                                                            powder pudding pastry.
                                                        </p>
                                                        <p>
                                                            Tootsie roll oat cake I love bear claw I love caramels
                                                            caramels halvah chocolate bar. Cotton
                                                            candy gummi bears pudding pie apple pie cookie. Cheesecake
                                                            jujubes lemon drops danish dessert I
                                                            love caramels powder.
                                                        </p>
                                                        <p>
                                                            Chocolate cake icing tiramisu liquorice toffee donut sweet
                                                            roll cake. Cupcake dessert icing
                                                            dragée dessert. Liquorice jujubes cake tart pie donut.
                                                            Cotton candy candy canes lollipop
                                                            liquorice chocolate marzipan muffin pie liquorice.
                                                        </p>
                                                        <p>
                                                            Powder cookie jelly beans sugar plum ice cream. Candy canes
                                                            I love powder sugar plum tiramisu.
                                                            Liquorice pudding chocolate cake cupcake topping biscuit.
                                                            Lemon drops apple pie sesame snaps
                                                            tootsie roll carrot cake soufflé halvah. Biscuit powder
                                                            jelly beans. Lollipop candy canes
                                                            croissant icing chocolate cake. Cake fruitcake powder
                                                            pudding pastry.
                                                        </p>
                                                        <p>
                                                            Tootsie roll oat cake I love bear claw I love caramels
                                                            caramels halvah chocolate bar. Cotton
                                                            candy gummi bears pudding pie apple pie cookie. Cheesecake
                                                            jujubes lemon drops danish dessert I
                                                            love caramels powder.
                                                        </p>
                                                        <p>
                                                            Chocolate cake icing tiramisu liquorice toffee donut sweet
                                                            roll cake. Cupcake dessert icing
                                                            dragée dessert. Liquorice jujubes cake tart pie donut.
                                                            Cotton candy candy canes lollipop
                                                            liquorice chocolate marzipan muffin pie liquorice.
                                                        </p>
                                                        <p>
                                                            Powder cookie jelly beans sugar plum ice cream. Candy canes
                                                            I love powder sugar plum tiramisu.
                                                            Liquorice pudding chocolate cake cupcake topping biscuit.
                                                            Lemon drops apple pie sesame snaps
                                                            tootsie roll carrot cake soufflé halvah. Biscuit powder
                                                            jelly beans. Lollipop candy canes
                                                            croissant icing chocolate cake. Cake fruitcake powder
                                                            pudding pastry.
                                                        </p>
                                                        <p>
                                                            Tootsie roll oat cake I love bear claw I love caramels
                                                            caramels halvah chocolate bar. Cotton
                                                            candy gummi bears pudding pie apple pie cookie. Cheesecake
                                                            jujubes lemon drops danish dessert I
                                                            love caramels powder.
                                                        </p>
                                                        <p>
                                                            Chocolate cake icing tiramisu liquorice toffee donut sweet
                                                            roll cake. Cupcake dessert icing
                                                            dragée dessert. Liquorice jujubes cake tart pie donut.
                                                            Cotton candy candy canes lollipop
                                                            liquorice chocolate marzipan muffin pie liquorice.
                                                        </p>
                                                        <p>
                                                            Powder cookie jelly beans sugar plum ice cream. Candy canes
                                                            I love powder sugar plum tiramisu.
                                                            Liquorice pudding chocolate cake cupcake topping biscuit.
                                                            Lemon drops apple pie sesame snaps
                                                            tootsie roll carrot cake soufflé halvah. Biscuit powder
                                                            jelly beans. Lollipop candy canes
                                                            croissant icing chocolate cake. Cake fruitcake powder
                                                            pudding pastry.
                                                        </p>
                                                        <p>
                                                            Tootsie roll oat cake I love bear claw I love caramels
                                                            caramels halvah chocolate bar. Cotton
                                                            candy gummi bears pudding pie apple pie cookie. Cheesecake
                                                            jujubes lemon drops danish dessert I
                                                            love caramels powder.
                                                        </p>
                                                        <p>
                                                            Chocolate cake icing tiramisu liquorice toffee donut sweet
                                                            roll cake. Cupcake dessert icing
                                                            dragée dessert. Liquorice jujubes cake tart pie donut.
                                                            Cotton candy candy canes lollipop
                                                            liquorice chocolate marzipan muffin pie liquorice.
                                                        </p>
                                                        <p>
                                                            Powder cookie jelly beans sugar plum ice cream. Candy canes
                                                            I love powder sugar plum tiramisu.
                                                            Liquorice pudding chocolate cake cupcake topping biscuit.
                                                            Lemon drops apple pie sesame snaps
                                                            tootsie roll carrot cake soufflé halvah.
                                                        </p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button"
                                                            class="btn btn-primary waves-effect waves-float waves-light"
                                                            data-bs-dismiss="modal">Accept</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="toggle-between-modal">
                                        <button type="button" class="btn btn-outline-primary waves-effect"
                                            data-bs-toggle="modal" data-bs-target="#modalToggle">
                                            Toggle Between Modals
                                        </button>

                                        <!-- Modal 1-->
                                        <div class="modal fade" id="modalToggle" aria-labelledby="modalToggleLabel"
                                            tabindex="-1" style="display: none;" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="modalToggleLabel">Modal 1</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">Show a second modal and hide this one with
                                                        the button below.</div>
                                                    <div class="modal-footer">
                                                        <button
                                                            class="btn btn-primary waves-effect waves-float waves-light"
                                                            data-bs-target="#modalToggle2" data-bs-toggle="modal"
                                                            data-bs-dismiss="modal">
                                                            Open second modal
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Modal 2-->
                                        <div class="modal fade" id="modalToggle2" aria-labelledby="modalToggleLabel2"
                                            tabindex="-1" aria-hidden="true" style="display: none;">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="modalToggleLabel2">Modal 2</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">Hide this modal and show the first with the
                                                        button below.</div>
                                                    <div class="modal-footer">
                                                        <button
                                                            class="btn btn-primary waves-effect waves-float waves-light"
                                                            data-bs-dismiss="modal">Back to first</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Form and scrolling Components end -->

        </div>
    </div>
</div>
<!-- END: Content-->

{% endblock %}